---
import { type TMetaInformation } from "@lib/types";
import getRole from "@scripts/helpers/getRole";

import LayoutSettings from "@layouts/LayoutSettings.astro";
import SingularTeamHeader from "./_partials/_SingularTeamHeader.vue";
import SingularTeamMembers from "./_partials/_SingularTeamMembers.vue";
import SingularTeamCustomDictionaries from "./_partials/_SingularTeamCustomDictionaries.vue";
import SingularTeamNativeDictionaries from "./_partials/_SingularTeamNativeDictionaries.vue";
import SingularTeamFooter from "./_partials/_SingularTeamFooter.vue";
import SingularTeamModalRenameTeam from "./_partials/_SingularTeamModalRenameTeam.vue";
import SingularTeamModalDeleteTeam from "./_partials/_SingularTeamModalDeleteTeam.vue";
import SingularTeamModalNewMember from "./_partials/_SingularTeamModalNewMember.vue";
import SingularTeamModalRemoveMember from "./_partials/_SingularTeamModalRemoveMember.vue";
import SingularTeamModalEditMember from "./_partials/_SingularTeamModalEditMember.vue";
import SingularTeamModalNewCustomDictionary from "./_partials/_SingularTeamModalNewCustomDictionary.vue";
import SingularTeamModalEditCustomDictionary from "./_partials/_SingularTeamModalEditCustomDictionary.vue";
import SingularTeamModalRemoveCustomDictionary from "./_partials/_SingularTeamModalRemoveCustomDictionary.vue";
import SingularTeamModalSelfDowngrade from "./_partials/_SingularTeamModalSelfDowngrade.vue";
import Alert from "@components/Alert/Alert.vue";

import { createPinia } from "pinia";
import { useTeamsStore } from "@stores/teamsStore.ts";

const role = getRole(Astro);
const pinia = createPinia();
const teamsStore = useTeamsStore(pinia);
const teamdId = Number(Astro.params.id);
const singularTeam = teamsStore.getTeamById(teamdId);

const meta: TMetaInformation = {
  lang: "en",
  title: `${singularTeam?.name || ""}`,
};
const alert = Astro.url.searchParams.get("alert");
---

<LayoutSettings meta={meta}>
  <SingularTeamHeader astro={Astro} client:load />
  <SingularTeamMembers astro={Astro} client:load />
  <SingularTeamCustomDictionaries astro={Astro} client:load />
  <SingularTeamNativeDictionaries astro={Astro} client:load />
  <SingularTeamFooter astro={Astro} client:load />

  <SingularTeamModalRenameTeam client:load />
  <SingularTeamModalDeleteTeam astro={Astro} client:load />
  <SingularTeamModalNewMember client:load />
  <SingularTeamModalEditMember astro={Astro} client:load />
  <SingularTeamModalRemoveMember astro={Astro} client:load />
  <SingularTeamModalNewCustomDictionary client:load />
  <SingularTeamModalEditCustomDictionary client:load />
  <SingularTeamModalRemoveCustomDictionary client:load />
  <SingularTeamModalSelfDowngrade astro={Astro} client:load />

  <Alert client:load />
  {
    alert === "team-created" && (
      <Alert message="New team created successfully." appearance="success" client:load />
    )
  }
  {
    role !== "admin" && (
      <div class="pointer-events-none fixed inset-0 flex items-center justify-center">
        This is not the page you are looking for
      </div>
    )
  }
</LayoutSettings>
