---
import { type TRole, type TState } from "@lib/types";
import getRole from "@scripts/helpers/getRole";
import getState from "@scripts/helpers/getState";

import HeaderLogo from "@components/Header/HeaderLogo.astro";
import VueHeaderMainMenu from "@components/Header/VueHeaderMainMenu.vue";
import VueHeaderProfile from "@components/Header/VueHeaderProfile.vue";
import VueHeaderMobileMenuButton from "@components/Header/VueHeaderMobileMenuButton.vue";
import VueHeaderMobileMenu from "@components/Header/VueHeaderMobileMenu.vue";

const path = Astro.url.pathname;
const role: TRole = getRole(Astro);
const state: TState = getState(Astro);
---

<nav class="bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <HeaderLogo />
        </div>
        <div class="hidden sm:ml-8 sm:flex">
          <VueHeaderMainMenu
            path={path}
            role={role}
            state={state}
            client:load
          />
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <div class="ml-3">
          <VueHeaderProfile path={path} role={role} state={state} client:load />
        </div>
      </div>

      <div class="-mr-2 flex items-center sm:hidden">
        <VueHeaderMobileMenuButton role={role} client:load />
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="absolute -top-px left-0 right-0 z-20 bg-white shadow-xl">
      <VueHeaderMobileMenu path={path} role={role} state={state} client:load />
    </div>
  </div>
</nav>
